version: '3.7'

services:
  backend:
    container_name: backend
    build: ./backend
    volumes:
      - ./backend:/backend
      - /backend/node_modules
    ports:
      - 3000:3000

  frontend:
    container_name: frontend
    build: ./frontend
    stdin_open: true
    volumes:
      - ./frontend:/frontend
      - /frontend/node_modules
    ports:
      - 3001:3000
